services:
  backend:
    build:
      context: ./backend
      target: prod
    env_file:
      - ./docker/env/prod.env
    ports:
      - "${BACKEND_PORT:-8080}:8080"

  frontend:
    build:
      context: ./frontend
      target: prod
    env_file:
      - ./docker/env/prod.env
    ports:
      - "${FRONTEND_PORT:-8081}:80"
    depends_on:
      - backend